.title{
    font-size:20px;
    color:red;
}
h1{
    text-align:center;
}
#test{
    padding-left:40px;
    color : darkorange;
    list-style-type: square;

}
.content{
    padding-left:40px;
    list-style-type: square;

}